body
{
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    text-align: center;
    background: rgb(43, 46, 74);
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;color: white;
    text-align: center;
    background: rgb(232, 69, 69);
  }
  
  /* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 65%;
}

/* Right column */
.rightcolumn {
  float: right;
  width: 35%;
  padding-left: 20px;
}
  
  /* Fake image */
  .img-fire {
    background-color: #aaa;
    width: 80%;
    padding: 20px;
  }

  /* Fake image */
  .fire-people {
    background-color: #aaa;
    width: 80%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 10px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

  
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
